@using PayrollApplication.BOL
@{
  
    ViewBag.Title = "EmployeeIndex";
}

<nav class="navbar navbar-expand-sm  navbar-dark fixed-top" style="background-color: rgb(27, 111, 206);">
    <div class="container">
        <a id="WebsiteName" class="navbar-brand" href="/Home/Index">Pay Roll</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/Detail">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/Attendance">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/Salary">Salary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/Payment">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/AddFeedBack">Add Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navLinks" href="/Employee/LogOut">LogOut</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 p-3 text-white">
            <div class="container text-container">
                <p class="HomeText" id="Welcome">Welcome!</p>
                <p class="HomeText" id="line2">You are in Employee Portal</p>
                <p class="HomeText" id="line3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nam, pariatur voluptatibus et rem, id quae eius alias accusantium quisquam voluptate. Ipsa fuga doloribus pariatur unde, deserunt nemo officia architecto.</p>
                <button type="button" class="btn btn-dark" data-bs-toggle="tooltip" title="Click here to read more" style="font-family: Georgia, 'Times New Roman', Times, serif;">Learn More</button>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 p-3 text-white">
            <div class=" container mx-auto d-block" id="imagebox"> <img src="~/images/Employee.jpg" class="img-fluid" id="homeVector"></div>
        </div>
    </div>
</div>


