@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 p-3 text-white">
            <div class="container text-container">
                <p class="HomeText" id="Welcome">About Us</p>
                <p class="HomeText" id="line3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nam, pariatur voluptatibus et rem, id quae eius alias accusantium quisquam voluptate. Ipsa fuga doloribus pariatur unde, deserunt nemo officia architecto.</p>
                <button type="button" class="btn btn-dark" data-bs-toggle="tooltip" title="Click here to read more" style="font-family: Georgia, 'Times New Roman', Times, serif;">Learn More</button>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 p-3 text-white">
            <div class=" container mx-auto d-block" id="imagebox"> <img src="~/images/1.jpg" class="img-fluid" id="homeVector"></div>
        </div>
    </div>
    <div class="container border border-3 border-warning" id="heading2" style="background-color:rgb(219, 232, 250)">Our Team</div>
    <div class="container">
        <div class="container"><p class="HomeText" style="font-size: small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quaerat ducimus voluptatum quos odit asperiores laboriosam soluta mollitia distinctio? Explicabo autem laboriosam, amet enim deserunt tempora maxime quis voluptatum quas delectus provident eum blanditiis odio natus nam doloribus quibusdam odit animi impedit aliquam? Non molestiae quae modi dicta vero sint, praesentium beatae iste explicabo, sed reiciendis culpa nemo alias soluta, totam laboriosam quisquam nostrum. Illum, nostrum consequatur hic asperiores commodi necessitatibus aperiam, sequi voluptatibus eligendi atque rem obcaecati ipsam laborum!</p></div>
        <div class="container" style="text-align: center;">
            <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" title="Click here to read more" style="font-family: Georgia, 'Times New Roman', Times, serif;">Who We Are!</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Click here to read more" style="font-family: Georgia, 'Times New Roman', Times, serif;">What We Do</button>
        </div>
        <div class=" container mx-auto d-block" id="imagebox"> <img src="~/images/team.jpg" class="img-fluid" id="homeVector"></div>
    </div>


</body>