
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="container" id="ServiceHeading">Our Services</div>
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service1.png" alt="">
            </div>
            <h3 class="container cardHeading">Service 1</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>

        <!-- end ist card -->
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service2.png" alt="">
            </div>
            <h3 class="container cardHeading">Service 2</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>

        <!-- end 2nd card -->
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service3.png" alt="">
            </div>

            <h3 class="container cardHeading">Service 3</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>
        <!-- end 3rd card -->

    </div>

    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service4.png" alt="">
            </div>
            <h3 class="container cardHeading">Service 4</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>

        <!-- end ist card -->
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service5.png" alt="">
            </div>
            <h3 class="container cardHeading">Service 5</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>

        <!-- end 2nd card -->
        <div class="col-sm-4 col-lg-4 col-md-4 ">
            <div class="container">
                <img class="cardImage mx-auto d-block" src="~/images/service6.png" alt="">
            </div>

            <h3 class="container cardHeading">Service 6</h3>
            <div class="container"><p class="cardBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos doloribus temporibus ab ducimus voluptatum officiis, quia possimus iusto dolor voluptatem aspernatur enim quas asperiores ea eum quibusdam, accusamus cumque totam.</p></div>
        </div>
        <!-- end 3rd card -->

    </div>
</body>

